body{
	background: #86BB71;
	height:90%;
}

button{
	font-size: 20p;
}

textarea{
	display:inline-block;
	padding-top:2%;
	padding-left:2%;
	padding-right:2%;
	overflow:auto;
	resize:none;
	border-bottom-left-radius:10px;
}

.world{		
	color: black;
	background: #86BB71;
	float: left;
	width: 100%;
	height: 100%;
	//overflow-y: scroll;
}

.imageChat {
	position: absolute;
	cursor:pointer;
	width: 50px;
	height: 50px;	
}

.hidden{
	display:none;
}

.chat_container{
	position: absolute;
	color: black;
	background: #86BB71;
	float: left;
	width: 40%;
	height: 50%;
	border-radius: 10px;

}
.chat_title{
	display: flex;
  	justify-content: center;
}
.input_container{
	display: grid;
	grid-template-columns: 80% 20%;
}

.room_title{
	background: green;
	padding-left: 10px;
	border-radius: 10px;
	display: flex;
  	justify-content: center;
}


.messages_container{
	background: white;
	width: 99%;
	height: 80%;
	overflow: auto;
}


.chat_2{
	width:100%;
	height:7%;
	margin-right: 4%;
	margin-top: 5%;
}

.messageGrid{
	border: 2px solid #dedede;
	border-radius: 5px;
	padding: 5px;
	padding-right:20px;
	padding-left:20px;
	overflow-wrap: break-word;
	font-size:15;
	margin:10px;
}

.messageGrid::after {
  content: "";
  clear: both;
  display: table;  
}

.send {
  border-color: #ccc;
  background-color: #ddd;
  text-align: right;
}

.time-left{
  float: left;
  color: #aaa;
  font-size:13px;
  font-family: serif;
}

.time-right{
  float: right;
  color: #aaa;
  font-size:13px;
  font-family: serif;
}

.username{
	font-size:15px;
	color: #717171;
	font-family: serif;
}

.drop_down_category{
	font-size:17px;
	cursor:pointer;
	margin:10;
	height:40px;
	width:150px;"
}
/* ------------------------------------*/
/* ----------- POP UP LOGIN -----------*/
/* ------------------------------------*/

.login{
    max-width: 800px;
	margin: auto;
	background-color: rgba(0,0,0,0.2);
	border-radius: 10px;
	padding: 10px;
}

.popupButton{
	font-size:17px;
	cursor:pointer;
	margin:20;
	height:40px;
	width:150px;"
}

.login_box{
	float: left;
	width: 50%;
	opacity: 0.5;
}

.room_box{
	float: left;
	width: 50%;
}

.skin{
	opacity: 0.5;
}

.selected{
	opacity: 1;
}



.private_message_text{
	width:100%;
	height: 40%
}

.private_message_text_user{
	width:100%;
	font-size:28;
}
	
.private_message_text_default{
	width:100%;
	font-size:30;
	margin-left: 5%;
	align="center"
}
	
.container_priv{
	width:100%;
	height:auto;
	border: black 5px solid;
	background-color: #7AB780;
}

.popup .overlay {
  position:fixed;
  top:0px;
  left:0px;
  width:100vw;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:600px;
  
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  	transition:all 300ms ease-in-out;
  	transform:translate(-50%,-50%) scale(1);
	grid-template-columns: 50% 50%;

}
